//Colors
$SCK2-yellow: #FFCE00;
$SCK2-darkGrey: #333333;
$SCK2-lightGrey: #f9f9fb;
$SCK2-blue: #001fff;
$SCK2-red: #EF5050;

$msNavy: #212B32;
$msNavy2: #27353D;
$msOrange: #FBA200;
$msRed: $SCK2-red;
$msGreen: #9ad068;
$msBlue: #4AA3DF;
$msGrey: #A5ACB2;
$msBlack: #414042;
$msWhite: #ffffff;

$msOpaqueGrey: rgba(189,195,199, .3);


$SCKblue: #38CEF3;
$SCKblack: #065063;
$SCKnavy: #065063;
$SCKnavy2: #046C95;
$SCKgrey: #8DB2BA;
$SCKgrey2: #C8E6ED;
$SCKwhite: #ffffff;

$blue: #008ecf;
$blueLight: #74D3FF;
$bg-blue: #0079b1;
$regalBlue: #004F74;
