 .inputContainer {

    md-input-container {
      height: 80px;

      .selectMenu{
        height: 80px !important;

        .md-select-value {
          border: 3px solid $msOpaqueGrey;
          padding: 35px;
          span {
            color: $msWhite;
            font-size: 48px;
          }
        }
      }

    }

   svg {
     position: relative;
     left: 60px;
     top: 10px;
   }

   .inputSpacer{
     width: 48px;
     height: 70px;
   }

   .md-block{
     border: 3px solid $msOpaqueGrey;
   }
    input {
      height: 80px;
      border: none;
      font-size: 3vmax;
      color: $msWhite;
    }

   &.password{
     input{
       padding-left: 80px;
     }
   }
  }


.selection{
  background-color: $msNavy;
  .md-text.ng-binding {
    font-size: 42px;
    color: $msGrey;
  }
}
md-content {
  background-color: $msNavy !important;
}