.inputDiv {

  margin: 20px 0;

  .inputTitle, .inputError {
    color: $SCK2-darkGrey;
  }

  .inputContainer {
    height: 80px;
    padding: 0 20px;
    border: none;

    border-radius: 4px;
    background-color: $blue;
    @media screen and (max-width: 450px) {
      padding: 0 10px;
    }

    label {
      font: 100% 'Roboto Condensed', sans-serif !important;
      @media screen and (max-width: 450px) {
        font-size: 12px !important;
      }
    }

    &.focus {
      background-color: $SCK2-lightGrey;
    }

    .ss_input{
      svg, tspan {
        fill: $blueLight;
      }
    }


    .md-box{
      height: 80px;
      md-input-container{
        height: 80px;
        margin: 0;
        border: none;
        .md-placeholder{
          color: $blueLight;
        }
        input {
          padding: 0px 20px;
          height: 80px;
          border: none;
          color: white;
          font: 100% 'Roboto Condensed', sans-serif !important;
          font-size: 2rem !important;
        }
      }
    }


  }


  // LOL HIDEOUS VVVVV
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: $SCK2-darkGrey;
}
  md-input-container.md-default-theme.md-input-invalid label, md-input-container.md-input-invalid label, md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, md-input-container.md-input-invalid .md-input-message-animation, md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter {
    font-size: 1.5rem;
    color: $msRed;
  }
  md-input-container.md-default-theme label, md-input-container  label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder{
    color: $SCK2-darkGrey;
  }
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: $SCK2-darkGrey;
  }

  //.md-block{
  //  border: 3px solid $msOpaqueGrey;
  //}
  // input {
  //   height: 80px;
  //   border: none;
  //   font-size: 3vmax;
  //   color: $msWhite;
  // }

  &.password {
    input {
      padding-left: 80px;
    }
  }
}

.selection {
  background-color: $SCK2-darkGrey;
  .md-text.ng-binding {
    font-size: 42px;
    color: $SCK2-darkGrey;

    //.selectMenu{
    //  height: 80px !important;
    //
    //  .md-select-value {
    //    border: 3px solid $msOpaqueGrey;
    //    padding: 35px;
    //    span {
    //      color: $msWhite;
    //      font-size: 48px;
    //    }
    //  }
    //}
  }
}

md-content {
  background-color: $SCK2-darkGrey !important;
}

form{
  max-width:700px;
  margin: 0 auto;
}
