$handshakeBarHeight: 200px;
$handshakeBarBackgroundColor: $SCK2-lightGrey;
$handshakeBarColor: $blue;

md-progress-linear {
  .md-container {
    background-color: $blue !important;
    .md-bar {
      background-color: $regalBlue !important;
    }
  }
}

.backgroundProgressLoader {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;

  &.idle {
    visibility: hidden;
  }
  &.start {
    visibility: visible;
  }

  md-progress-linear {
    height: $handshakeBarHeight;
    .md-container.md-mode-determinate {
      height: $handshakeBarHeight;
      .md-bar {
        height: $handshakeBarHeight;
      }
    }
  }
}
