@media screen and (max-width: 1280px) {
  .buildImage {
    max-height: 300px;
  }
}

.kitBuildHolder {
  height: 300px;
  .buildImage {
    box-shadow: 10px 10px 0px (-$border_thickness) $regalBlue,
    10px 10px 0px 0px var(--black);
    border: 3px var(--black) solid;
    height: 300px;
    max-width: 700px;
    @media screen and (max-width: 750px) {
      width: 90%;
      height: auto;
    }
  }
}
.kitImage{
  overflow: visible;
  @media screen and (min-width: 830px) {
    height: 200px;
    img{
      height: 100%;
      position: relative;
      width: auto;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 830px) {
    height: 250px;
    img{
      height: 100%;
      position: relative;
      width: auto;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 580px) {
    width: 100%;
    img{
      position: static;
      height: 100%;
      margin: 0 auto;
    }
  }
}
.buildInstructions p {
  margin-top: 0px;
}
