@keyframes modal-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-out {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#modal{

  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 43, 50, .78);

  width: 100%;
  height: 100%;

  &.hidden {
    display: none;
    opacity: 0;
  }
  &.out{
    -webkit-animation-name: modal-out;
    -webkit-animation-duration: $errorTimer;
    animation-name: modal-out;
    animation-duration: $errorTimer;
    animation-fill-mode: forwards;
  }
  &.showing {
    //opacity: 1;
    display: flex;

    -webkit-animation-name: modal-in;
    -webkit-animation-duration: $errorTimer;
    animation-name: modal-in;
    animation-duration: $errorTimer;
    animation-fill-mode: forwards;
  }

  &.showing, &.out{
    #modalContent {
      z-index: 3;
      #modalBox{
        border-radius: $divRadius;
        width: 1000px;
        min-height: 200px;
        @media screen and (min-width: $break-sm) {
          padding: 40px 40px 40px 100px;
        }
        @media screen and (max-width: $break-sm) {
          padding: 20px;
        }
        overflow: visible;

        h2 {
          text-align: left;
          color: $SCKnavy;
          @media screen and (max-width: 960px) {
            text-align: center;
          }
        }

        h5 {
          font-size: 25px;
          @media screen and (min-width: $break-sm) {
            padding-right: 85px;
          }
        }
        &.red{
          background-color: $msRed;
          #partImage{
            width: 200px;
            height: 200px;
            img{
              width: 100%;
              height: 100%;
            }
            @media screen and (max-width: $break-sm) {
                margin:auto;
            }
          }
        }
        &.green{
          background-color: $msGreen;

          #partImage {
            @media screen and (min-width: $break-sm) {
              width: 200px;
              height: 200px;
              img {
                width: 200%;
                position: relative;
                top: -100px;
                right: 125px;
              }
            }
            @media screen and (max-width: $break-sm) {
              img {
                display:block;
                margin:auto;
              }
            }
            @media screen and (max-width: 420px) {
              img {
                width: 100%;
              }
            }
          }
        }

      }
      #modalLink {
        #modalButton {
          font: 100% $font !important;
          width: auto;
          margin: 15px auto;
          padding: 15px 20px;
          font-size: 26px !important;

          background: $SCKblue;
          border-radius: 40px;
          border: 5px solid $SCKblue;
          color: $SCKwhite;
        }
      }
    }
  }
}