@keyframes segueError {
  0%{
    border: 2px solid $SCKwhite;
    color: $SCKwhite;
    background-color: $msNavy;
  }
  1% {
    border: 2px solid $msRed;
  }
  50% {
    background-color: $msRed;
    color: rgba(0, 0, 0, 0);
  }
  51%{
    color: $msRed;
  }
  100% {
    animation-timing-function: ease-in;
    color: white;
    background-color: $msRed;
    border: 2px solid $msRed;
  }
}


//@keyframes segueErrorReverse {
//
//  1% {
//    animation-timing-function: ease-out;
//    background-color: $msRed;
//    border: 2px solid $msRed;
//  }
//  50% {
//    color: $msRed;
//  }
//  51%{
//    background-color: $msNavy;
//    color: rgba(0, 0, 0, 0);
//  }
//  100% {
//    border: 2px solid $msNavy2;
//    color: white;
//  }
//}


@keyframes updateContent {
  0% {
    opacity: 1;
    width: auto;
  }
  50% {
    opacity: 0;
    width: 0;
  }
  100% {
    animation-timing-function: ease-in;
    opacity: 1;
    width: auto;
  }
}
@keyframes hideError {
  0% {
    opacity:1;
    width: auto;
  }
  90% {
    opacity:0;
    width: 0;
  }
  100% {
    animation-timing-function: ease-in;
    opacity:0;
    width: 0;
  }
}
@keyframes showError {
  0% {
    opacity:0;
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    animation-timing-function: ease-in;
    opacity:1;
    width: auto;
  }
}

@keyframes showButtons {
  50% {
    width: 0;
    opacity: 0;
  }
  100% {
    animation-timing-function: ease-in;
    width: $segueWrapperHeight * .5;
    opacity: 1;
  }
}

$button-height: $segueWrapperHeight / 2.75;

.bottomNav {
  height: $segueWrapperHeight;
  .segueWrapper {
    .segueButton {
      height: $button-height;
      width: auto;
      padding: 5px 40px;
      border-radius: 40px;
      color: $SCK2-blue;
      background: $SCKwhite;
      border-color: $SCK2-blue;

      #segueContent {
        overflow: hidden;
        font: 100% 'Roboto Condensed', sans-serif;
        font-weight: 500 !important;
        font-size: 20px;
        position: relative;
        top: -12px;
        //padding-left: 5px;
      }
      #nextSVG {
        position: relative;
        top: -12px;
        left: 3px;
        display: inline;
        padding-right: 10px;
        path {
          fill: $SCK2-blue;
        }
      }
      #closeSVG{
        position: relative;
        top: 1px;
        left: 3px;
        //display: none;// << HACKY display doesnt animate well.. so opacity and width are used in place
        width: 0;
      }
      &.ready {
        border: 2px solid $SCK2-blue;
        &:hover{
          background-color: $SCK2-lightGrey;
          color: $SCK2-blue;
          #nextSVG {
            path {
              fill: $SCK2-blue;
            }
          }
        }
      }
      &.blocked {
        border: 2px solid $SCK2-darkGrey;
        color: $SCK2-darkGrey;
        #nextSVG {
          path {
            fill: $SCK2-darkGrey;
          }
        }
      }
      &.hide {
        display: none;
      }
      &.error {
        -webkit-animation-name: segueError;
        -webkit-animation-duration: $errorTimer;
        animation-name: segueError;
        animation-duration: $errorTimer;
        animation-fill-mode: forwards;
        border: 2px solid $SCK2-red;

        #segueContent{
          -webkit-animation-name: updateContent;
          -webkit-animation-duration: $errorTimer;
          animation-name: updateContent;
          animation-duration: $errorTimer;
          animation-fill-mode: forwards;
        }
        #nextSVG {
          -webkit-animation-name: hideError;
          -webkit-animation-duration: $errorTimer;
          animation-name: hideError;
          animation-duration: $errorTimer;
          animation-fill-mode: forwards;
        }
        #closeSVG {
          -webkit-animation-name: showError;
          -webkit-animation-duration: $errorTimer;
          animation-name: showError;
          animation-duration: $errorTimer;
          animation-fill-mode: forwards;
        }
      }
    }
    .errorButton{
      height: $button-height;
      width: 0;
      background: $SCK2-lightGrey;
      border-radius: 40px;
      color: $SCK2-darkGrey;
      border: 2px solid $SCK2-lightGrey;
      opacity: 0;
      font-size: 20px;
      &.show{
        -webkit-animation-name: showButtons;
        -webkit-animation-duration: $errorTimer;
        animation-name: showButtons;
        animation-duration: $errorTimer;
        animation-fill-mode: forwards;
      }
    }
    .yesButton{

    }
    .noButton{

    }
    .buttonClearfix{
      opacity: 0;
      width: 0;
    }
  }

  .backButton {
    height: $button-height;
    width: $button-height;
    background: none;
    border-radius: 40px;
    color: $msNavy2;
    border: 2px solid $msNavy2;
    opacity: .12;
    svg {
      position: relative;
    }
    tspan {
      fill: $SCK2-blue;
    }
    &.blocked {
      tspan {
        fill: $msNavy2;
      }
    }
    &.hide {
      visibility: hidden;
    }
    &:hover{
      background-color: $msNavy2;
    }
  }
  .forwardButton {
    height: $button-height;
    width: $button-height;
    background: none;
    border-radius: 40px;
    color: $msNavy2;
    border: 2px solid $msNavy2;
    opacity: .12;
    svg {
      position: relative;
      top: 2px;
      left: 8px;
    }
    tspan {
      fill: $SCK2-blue;
    }
    &.blocked {
      tspan {
        fill: $msNavy2;
      }
    }
    &.hide {
      visibility: hidden;
    }
  }
}