$barHeight: 15px;
$barBackgroundColor: $blue;
$barColor: $regalBlue;
$labelMargin: 50px;

#progress{
  md-progress-linear  {
    height: $barHeight;
    .md-container.md-mode-determinate{
      height: $barHeight;
      background-color: $barBackgroundColor;
      .md-bar {
        height: $barHeight;
        background-color: $barColor;
      }
    }
  }

  #progressLabels {
    margin-top: 10px;
    width: 100%;
    p {
      font-family: 'Kanit';
      font-weight: 700;
      margin: 5px 0;
      font-size: 20px;
      -webkit-transition: color 0.75s cubic-bezier(0.86, 0, 0.07, 1);
      -moz-transition: color 0.75s cubic-bezier(0.86, 0, 0.07, 1);
      -ms-transition: color 0.75s cubic-bezier(0.86, 0, 0.07, 1);
      -o-transition: color 0.75s cubic-bezier(0.86, 0, 0.07, 1);
      transition: color 0.75s cubic-bezier(0.86, 0, 0.07, 1);
      color: $blue;
    }
    #left{
      margin-left: $labelMargin;
      text-align: left;
      text-transform: uppercase;
    }
    #right{
      margin-right: $labelMargin;
      text-align: right;
      text-transform: uppercase;
    }
  }

  &:hover, &.blue{
    #progressLabels{
      p {
        color: $regalBlue;
      }
    }
  }
}
