.tag {
  font: 100% $font !important;
  padding: 10px 15px;
  color: $SCK2-darkGrey;
  height: 60px;
  line-height: 60px;

  background-color: $SCK2-lightGrey;
  text-transform: lowercase;
  border: none;
  border-radius: 30px;

  font-size: 24px !important;

  @media screen and (max-width: 450px) {
    font-size: 16px !important;
    padding-top: 0;

  }


  svg{
    position: relative;
    top: 5px;
    margin-right: 10px;
  }

  tspan {
    fill: $SCK2-darkGrey;
  }

  &.active, &:hover {
    background-color: $SCK2-blue;
    color: $SCK2-lightGrey;
    tspan {
      fill: $SCK2-lightGrey;
    }
  }
}