@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,500);
#progress md-progress-linear {
  height: 15px; }
  #progress md-progress-linear .md-container.md-mode-determinate {
    height: 15px;
    background-color: rgba(79, 164, 220, 0.2); }
    #progress md-progress-linear .md-container.md-mode-determinate .md-bar {
      height: 15px;
      background-color: #4fa4dc; }

.tooltip {
  display: inline;
  position: relative;
  z-index: 999; }

/* Trigger text */
.tooltip-item {
  cursor: pointer;
  display: inline-block;
  border-bottom: 3px #BDC3C7 solid; }
  .tooltip-item::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

/* Gap filler */
.tooltip:hover .tooltip-item::after {
  pointer-events: auto; }

/* Tooltip */
.tooltip-content {
  border-radius: 25px;
  position: absolute;
  z-index: 9999;
  width: 500px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  font-size: 0.765em;
  line-height: 1.4;
  background: #FBA200;
  opacity: 0;
  cursor: default;
  pointer-events: none; }

.tooltip-effect-1 .tooltip-content {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }

.tooltip-effect-2 .tooltip-content {
  -webkit-transform-origin: 50% calc(100% + 10px);
  transform-origin: 50% calc(100% + 10px);
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s; }

.tooltip-effect-3 .tooltip-content {
  -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
  transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }

.tooltip-effect-4 .tooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7, 0.3, 1);
  transform: scale3d(0.7, 0.3, 1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s; }

.tooltip-effect-5 .tooltip-content {
  width: 180px;
  margin-left: -90px;
  -webkit-transform-origin: 50% calc(100% + 6em);
  transform-origin: 50% calc(100% + 6em);
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39);
  transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39); }

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); }

.tooltip.tooltip-effect-2:hover .tooltip-content {
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg); }

/* Arrow */
.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #FBA200;
  border-width: 10px;
  margin-left: -10px; }

.tooltip-content img {
  position: relative;
  height: 170px;
  display: block;
  float: left;
  margin-right: 1em; }

/* Tooltip content*/
.tooltip-text {
  font-size: 0.68em;
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff; }

.tooltip-effect-5 .tooltip-text {
  padding: 1.4em; }

.tooltip-text a {
  font-weight: bold; }

.inputContainer md-input-container {
  height: 80px; }
  .inputContainer md-input-container .selectMenu {
    height: 80px !important; }
    .inputContainer md-input-container .selectMenu .md-select-value {
      border: 3px solid rgba(189, 195, 199, 0.3);
      padding: 35px; }
      .inputContainer md-input-container .selectMenu .md-select-value span {
        color: #ffffff;
        font-size: 48px; }

.inputContainer .md-block {
  border: 3px solid rgba(189, 195, 199, 0.3); }

.inputContainer input {
  height: 80px;
  border: none;
  font-size: 41px;
  color: #ffffff; }

.selection {
  background-color: #39424C; }
  .selection .md-text.ng-binding {
    font-size: 42px;
    color: #BDC3C7; }

md-content {
  background-color: #39424C; }

.morphBox {
  position: relative; }
  .morphBox.closed {
    -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s; }
    .morphBox.closed .morphContent {
      visibility: hidden; }
  .morphBox.open {
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
    opacity: 1; }
    .morphBox.open .morphContent {
      visibility: visible; }

html, body {
  margin: 0;
  padding: 0; }

canvas {
  vertical-align: top;
  z-index: 0; }

body {
  height: auto;
  overflow: auto;
  font: 100% Rubik, sans-serif; }
  body h1, body h2, body h3, body h4, body h6, body p {
    text-align: center; }
  body h1 {
    font-weight: 400;
    font-size: 72px;
    color: #ffffff; }
  body h2 {
    font-weight: 400;
    font-size: 41px;
    color: #ffffff; }
  body h4, body p {
    font-weight: 400;
    font-size: 41px;
    color: #BDC3C7; }
  body h5 {
    font-weight: 400;
    font-size: 24px;
    color: #ffffff; }
  body h6 {
    font-weight: 400;
    font-size: 28px;
    color: #BDC3C7; }
  body button {
    font-weight: 500;
    font-size: 40px;
    color: white;
    text-transform: capitalize; }
    body button:focus {
      outline: none; }
  body #container {
    background-color: #39424C;
    z-index: 1; }
    body #container #wizardView .companyLogo {
      margin: 15px;
      max-height: 250px; }
    body #container #wizardView .buildImage {
      min-width: 320px;
      max-width: 500px; }
    body #container #wizardView .selectionRow .selection {
      height: 400px;
      background-color: rgba(189, 195, 199, 0.3);
      border-radius: 25px;
      border: 0 solid; }
      body #container #wizardView .selectionRow .selection .sectionContent .checkHolder .check {
        height: 30px;
        padding-right: 33px;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale3d(0.7, 0.3, 1);
        transform: scale3d(0.7, 0.3, 1);
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: opacity 0.2s, transform 0.2s;
        visibility: hidden; }
      body #container #wizardView .selectionRow .selection .sectionContent .selectionIcon {
        height: 60%;
        font-size: 132px; }
      body #container #wizardView .selectionRow .selection:hover, body #container #wizardView .selectionRow .selection:active, body #container #wizardView .selectionRow .selection.active {
        background-color: #BDC3C7; }
        body #container #wizardView .selectionRow .selection:hover .checkHolder .check, body #container #wizardView .selectionRow .selection:active .checkHolder .check, body #container #wizardView .selectionRow .selection.active .checkHolder .check {
          visibility: visible;
          -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
          transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); }
    body #container #wizardView .autoCompleteInput {
      max-width: 700px;
      min-width: 360px;
      margin: 0 auto;
      position: relative;
      z-index: 1000;
      top: 40px;
      border: 1px white;
      border-radius: 5px; }
    body #container #wizardView .angular-google-map-container {
      height: 400px; }
    body #container #wizardView .kitImage {
      width: 100%; }
    body #container #wizardView .contextButton {
      height: 60px;
      width: auto;
      margin: 15px auto;
      padding: 5px;
      text-transform: uppercase;
      background: none;
      border-radius: 40px;
      border: 5px solid #BDC3C7;
      color: #BDC3C7;
      font-size: 24px; }
    body #container .segueWrapper {
      height: 160px; }
      body #container .segueWrapper .segueButton {
        height: 80px;
        width: auto;
        padding: 5px 15px;
        text-transform: uppercase;
        background: none;
        border-radius: 40px;
        color: white; }
        body #container .segueWrapper .segueButton.ready {
          border: 5px solid #61CD72; }
        body #container .segueWrapper .segueButton.blocked {
          border: 5px solid #ffffff; }
