@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,500,900);
$font:    Rubik, sans-serif;
$divRadius: 15px;


$progressHeight: 15px;
$segueWrapperHeight: 160px;

@import "colors";
@import "progress";
@import "tooltip";
@import "form";
@import "modal";
@import "ss-standard";
@import "animations";

html, body { margin: 0; padding: 0; }
canvas {vertical-align: top; z-index: 0}
body {
  height:auto; overflow:auto;
  font: 100% $font !important;
  background-color: $mkNavy;

  h1, h2, h3, h4, h6, p {
    text-align: center;
  }

  h1{
    font-weight: 900;
    font-size: 72px; //fallback
    font-size: 5vmax;
    color: $mkBlue;
    line-height: 70px;
    text-transform: uppercase;
  }
  h2{
    font-weight: 400;
    font-size: 41px; //fallback
    font-size: 3.5vmax;
    color: $mkWhite;
  }
  h4, p{
    font-weight: 400;
    font-size: 41px; //fallback
    font-size: 2.5vmax;
    color: $mkGrey;
  }
  h5{
    font: 100% $font;
    font-weight: 400;
    font-size: 28px;
    color: $mkWhite;
  }
  h6{
    font-weight: 400;
    font-size: 28px;
    color: $mkGrey;
  }
  button{
    font-weight: 500;
    font-size: 2.3vmax;
    color: white;
    text-transform: capitalize;
    &:focus {
      outline: none;
    }
  }


  #container {
    //background-color: $mkNavy;
    z-index: 1;

    #wizardView {
      margin: 0 auto;
      max-width: 1150px;

      &.ng-enter {
        -webkit-animation:slideInRight 0.5s both ease;
        -moz-animation:slideInRight 0.5s both ease;
        animation:slideInRight 0.5s both ease;
      }

      .companyLogo {
        margin: 15px;
        max-height: 250px;
      }

      .buildImage {
        min-width: 320px;
        max-width: 500px;
      }

      .selectionRow {
        .selection {
          height: 400px;
          background: none;
          border-radius: $divRadius;
          border: 5px solid $mkNavy2;

          .sectionContent {
            .checkHolder {
              .check {
                height: 30px;
                padding-right: 0;

                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale3d(0.7, 0.3, 1);
                transform: scale3d(0.7, 0.3, 1);
                -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
                transition: opacity 0.2s, transform 0.2s;
                visibility: hidden;
              }
            }
            .selectionIcon {
              padding: 30px 0;
              position: relative;
              -webkit-transition: top 0.2s;
              -moz-transition: top 0.2s;
              -ms-transition: top 0.2s;
              -o-transition: top 0.2s;
              transition: top 0.2s;
              top: 0;
              tspan {
                fill: $mkNavy2;
              }
              .shadow{
                height: 0;
                overflow: visible;
                position: relative;
                -webkit-transition: top 0.2s;
                -moz-transition: top 0.2s;
                -ms-transition: top 0.2s;
                -o-transition: top 0.2s;
                transition: top 0.2s;
                top: -100px;
              }
            }
            .selectionText {
              color: $mkNavy2;
            }
          }
          &:hover, &:active, &.active {
            background-color: $mkNavy2;
            .selectionIcon {
              position:relative;
              top: -10px;
              tspan {
                fill: $mkWhite;
              }
              .shadow{
                top:-90px;
              }
            }
            .selectionText {
              color: $mkWhite;
            }
          }
          &.active{
            .checkHolder{
              .check{
                visibility: visible;
                -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
                transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
              }
            }
            .selectionIcon{
              position:relative;
              top: 0;
              .shadow{
                top:-100px;
              }
            }
          }
        }
      }

      .autoCompleteInput{
        max-width: 700px;
        min-width: 360px;
        margin : 0 auto;
        position: relative;
        z-index: 1000;
        top:40px;
        border: 1px white;
        border-radius: 5px;
      }
      .angular-google-map-container { height: 400px; }

      .kitImage {
        width: 100%;
      }

      .contextButton {
        height: 60px;
        width: auto;
        margin: 15px auto;
        padding: 5px;

        text-transform: uppercase;
        background: $mkNavy2;
        border-radius: 40px;
        border: 5px solid $mkNavy2;
        color: $mkGrey;
        font-size: 20px;
      }
    }

    .bottomNav {
      height: $segueWrapperHeight;
      //div {
      //  width: 200px;
      //}
      .segueButton {
        height: $segueWrapperHeight / 2;
        width: auto;
        padding: 5px 15px;
        text-transform: uppercase;
        background: none;
        border-radius: 40px;
        color: white;
        background: $mkNavy;
        svg{
          position:relative;
          top: 6px;
          left: 3px;
        }
        &.ready{
          border: 5px solid $mkGreen;
        }
        &.blocked{
          border: 5px solid $mkWhite;
        }
      }

      .backButton{
        height: $segueWrapperHeight / 2;
        width: $segueWrapperHeight / 2;
        text-transform: uppercase;
        background: none;
        border-radius: 40px;
        color: $mkNavy2;
        border: 5px solid $mkNavy2;
        svg{
          position:relative;
          top: 2px;
          left: 3px;
        }
        tspan {
          fill: $mkWhite;
        }
        &.blocked{
          tspan {
            fill: $mkNavy2;
          }
        }
      }
    }
  }
}