@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Kanit:300,400,700,800,900&amp;subset=latin-ext);

/** -- CONSTANTS -- **/
$font: 'Roboto Condensed', sans-serif;
$font2: 'Kanit', sans-serif;

$divRadius: 15px;

$errorTimer: .5s;


$progressHeight: 15px;
$segueWrapperHeight: 160px;

$break-sm: 960px;

/** -- IMPORTS -- **/
@import "colors";
@import "progress";
@import "tooltip";
@import "form";
@import "modal";
@import "ss-standard";
@import "animations";
@import "navigation";
@import "kits";
@import "smart_citizen";
@import "tags";
@import "handshake";
@import "doorbell";
@import "_loader.scss";

/* MEDIA QUERY IS AT END OF THIS FILE */

html, body { margin: 0; padding: 0; }
canvas {vertical-align: top; z-index: 0}
body {
  height:auto; overflow:auto;
  font: 100% $font;
  background-color: $SCKwhite !important;
  display: flex;
  min-height: 100vh;
  border: 10px $SCK2-darkGrey solid;

  h1, h2, h3, h4, h6, p {
    text-align: center;
  }

  h1{
    font: 100% $font2;
    font-weight: 900;
    font-size: 4.5em;
    color: $SCK2-darkGrey;
    line-height: 70px;
    @media screen and (max-width: 450px) {
      font-size: 3.25em;
      line-height: 46px;
    }
  }
  h2{
    font: 100% $font2;
    font-weight: 800;
    font-size: 2.875em;
    color: $SCK2-darkGrey;
    text-transform: uppercase;
    @media screen and (max-width: 450px) {
      font-size: 2em;
    }
  }
  h3{
    font-weight: 400;
    font-size: 1.875em;
    color: $SCK2-darkGrey;
    @media screen and (max-width: 450px) {
      font-size: 1.375em;
    }
    em{
      font-style: normal !important;
      &.green{
        color: $msGreen;
      }
      &.orange{
        color: $msOrange;
      }
      &.blue{
        color: $SCK2-blue;
      }
    }
  }

  h4, p{
    font-weight: 400;
    font-size: 1.75em;
    color: $SCK2-darkGrey;
    @media screen and (max-width: 450px) {
      font-size: 1.75em;
    }
  }
  h5{
    font: 100% $font;
    font-weight: 400;
    font-size: 1.65em;
    color: $msWhite;
    @media screen and (max-width: 450px) {
      font-size: 1.15em;
    }
  }
  h6{
    font-weight: 400;
    font-size: 1.75em;
    color: $msGrey;
  }
  button{
    font-weight: 500;
    font-size: 1.5em;
    color: white;
    text-transform: capitalize;
    &:focus {
      outline: none;
    }
  }

  /** -- ANIMATIONS -- **/
  @keyframes selectionError {
    100% {
      color: $msRed;
      border-color: $msRed;
    }
  }


  #container {
    z-index: 1;
    flex:1;
    flex-shrink: 0;

    #wizardView {
      margin: 0 auto;
      padding: 0 25px;
      max-width: 1150px;
      overflow: visible;

      &.ng-enter {
        -webkit-animation:slideInRight 0.5s both ease;
        -moz-animation:slideInRight 0.5s both ease;
        animation:slideInRight 0.5s both ease;
      }

      .companyLogo {
        margin: 15px;
        max-height: 150px;
      }

      .selectionRow {
        .selection {
          height: 400px;
          background: $SCK2-lightGrey;
          border: 5px $SCK2-darkGrey solid;


          &.nested{
            width: 300px;
            @media screen and (max-width: 400px) {
              width: 250px;
            }
          }

          .sectionContent {
            .contentIcons{
              height: 30px;
              .info{
                height: 30px;
              }
            }

            .infoHolder{
              outline: none;
              padding: 14px;
              position: relative;
              top: -14px;
              right: 14px;
            }

            .checkHolder {
              .check {
                height: 30px;
                padding-right: 0;

                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale3d(0.7, 0.3, 1);
                transform: scale3d(0.7, 0.3, 1);
                -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
                transition: opacity 0.2s, transform 0.2s;
                visibility: hidden;
              }
            }
            .selectionIcon, .selectionImage {
              padding: 30px 0;
              position: relative;
              -webkit-transition: top 0.2s;
              -moz-transition: top 0.2s;
              -ms-transition: top 0.2s;
              -o-transition: top 0.2s;
              transition: top 0.2s;
              top: 0;
              tspan {
                fill: $SCK2-darkGrey;
              }
              .shadow{
                height: 0;
                overflow: visible;
                position: relative;
                -webkit-transition: top 0.2s;
                -moz-transition: top 0.2s;
                -ms-transition: top 0.2s;
                -o-transition: top 0.2s;
                transition: top 0.2s;
                top: -100px;
              }
            }
            .selectionImage{
              padding: 0;
              img{
                max-height: 250px;
                max-width: 80%;
                overflow: hidden;
              }
            }
            .selectionText {
              color: $SCK2-darkGrey;
            }
          }
          &:hover, &:active, &.active {
            background-color: $SCK2-darkGrey;
            .selectionIcon, .selectionImage {
              position:relative;
              top: -10px;
              tspan {
                fill: $msWhite;
              }
              .shadow{
                top:-90px;
              }
            }
            .selectionText {
              color: $SCK2-lightGrey;
            }
          }
          &.active{
            .checkHolder{
              .check{
                visibility: visible;
                -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
                transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
              }
            }
            .selectionIcon, .selectionImage{
              position:relative;
              top: 0;
              .shadow{
                top:-100px;
              }
            }
          }
          &.error{
            -webkit-animation-name: selectionError;
            -webkit-animation-duration: $errorTimer;
            animation-name: selectionError;
            animation-duration: $errorTimer;
            animation-fill-mode: forwards;

            .sectionContent h5{
              -webkit-animation-name: selectionError;
              -webkit-animation-duration: $errorTimer;
              animation-name: selectionError;
              animation-duration: $errorTimer;
              animation-fill-mode: forwards;
            }
          }
        }
      }

      .locationInput {
        max-width: 600px;
        margin: 0 auto;
        md-input-container {
          margin-left:20px;
        }
        .ss_location{
          svg{
            position:relative;
          }
        }
      }



      .angular-google-map-container {
        height: 400px;
      }

      .kitImage {
        width: 100%;
      }

      .contextButton {
        height: 60px;
        width: auto;
        margin: 15px auto;
        padding: 0 15px;

        text-transform: uppercase;
        background: $msBlack;
        border-radius: 40px;
        border: 5px solid $msBlack;
        color: $SCKwhite;
        font-size: 1.25em;
        svg{
          margin: 0 10px;
          position: relative;
          top: 7px;
        }

        @media screen and (max-width: 450px) {
          font-size: .875em;
          padding-top: 0;
          line-height: 30px;
          svg{
            top: 10px;
          }
        }
        &.case{
          background-color: $msNavy2;
          border-radius: 40px;
          color: $msWhite;
          text-transform: none;
          padding-right: 20px;

          font: 100% 'Roboto Condensed', sans-serif !important;
          font-size: 1.5em !important;
          @media screen and (max-width: 450px) {
            font-size: 1.25em !important;
            padding: 0 5px;
            svg{
              top: 7px;
            }
          }
        }
      }

      .promptedText{
        background-color: $SCK2-lightGrey;
        border-radius: $divRadius * 2;
        padding: 15px 45px;
        //max-width: 400px;
        h2{
          color: $SCK2-darkGrey;
        }
      }

      .languageSelector{

        .contextButton{
          margin: 15px 75px !important;
          #nextSVG {
            position: relative;
            top: 0;
            left: 5px;
            display: inline;
            padding-right: 10px;
          }
        }
      }

    }
  }
}

@import "media_queries";