$barHeight: 15px;
$barBackgroundColor: rgba(79,164,220, .2);
$barColor: rgb(79,164,220);

#progress{
  md-progress-linear  {
    height: $barHeight;
    .md-container.md-mode-determinate{
      height: $barHeight;
      background-color: $barBackgroundColor;
      .md-bar {
        height: $barHeight;
        background-color: $barColor;
      }
    }
  }
}