@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,500);
$font:    Rubik, sans-serif;
$divRadius: 25px;


$progressHeight: 15px;
$segueWrapperHeight: 160px;


@import "colors";
@import "progress";
@import "tooltip";
@import "form";
@import "modal";

html, body { margin: 0; padding: 0; }
canvas {vertical-align: top; z-index: 0}
body {
  height:auto; overflow:auto;
  font: 100% $font;
  //background-color: $mkNavy;

  h1, h2, h3, h4, h6, p {
    text-align: center;
  }

  h1{
    font-weight: 400;
    font-size: 72px;
    color: $mkWhite;
  }
  h2{
    font-weight: 400;
    font-size: 41px;
    color: $mkWhite;
  }
  h4, p{
    font-weight: 400;
    font-size: 41px;
    color: $mkGrey;
  }
  h5{
    font-weight: 400;
    font-size: 24px;
    color: $mkWhite;
  }
  h6{
    font-weight: 400;
    font-size: 28px;
    color: $mkGrey;
  }
  button{
    font-weight: 500;
    font-size: 40px;
    color: white;
    text-transform: capitalize;
    &:focus {
      outline: none;
    }
  }


  #container {
    background-color: $mkNavy;
    z-index: 1;

    #wizardView {

      .companyLogo {
        margin: 15px;
        max-height: 250px;
      }

      .buildImage {
        min-width: 320px;
        max-width: 500px;
      }

      .selectionRow {
        .selection {
          height: 400px;
          background-color: $mkOpaqueGrey;
          border-radius: $divRadius;
          border: 0 solid;

          .sectionContent {
            .checkHolder {
              .check {
                height: 30px;
                padding-right: 33px;

                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale3d(0.7, 0.3, 1);
                transform: scale3d(0.7, 0.3, 1);
                -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
                transition: opacity 0.2s, transform 0.2s;
                visibility: hidden;
              }
            }
            .selectionIcon {
              height: 60%;
              font-size: 132px;
            }
            .selectionText {

            }
          }
          &:hover, &:active, &.active {
            background-color: $mkGrey;
            .checkHolder{
              .check{
                visibility: visible;
                -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
                transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
              }
            }
          }
        }
      }

      .angular-google-map-container { height: 400px; }

      .kitImage {
        width: 100%;
      }

      .contextButton {
        height: 60px;
        width: auto;
        margin: 15px auto;
        padding: 5px;

        text-transform: uppercase;
        background: none;
        border-radius: 40px;
        border: 5px solid $mkGrey;
        color: $mkGrey;
        font-size: 24px;
      }
    }

    .segueWrapper {
      height: $segueWrapperHeight;
      .segueButton {
        height: $segueWrapperHeight / 2;
        width: auto;
        padding: 5px 15px;
        text-transform: uppercase;
        background: none;
        border-radius: 40px;
        color: white;

        &.ready{
          border: 5px solid $mkGreen;
        }
        &.blocked{
          border: 5px solid $mkWhite;
        }

      }
    }
  }
}