@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
$font:    Rubik, sans-serif;


@import "colors";

body {
  font: 100% $font;
  width: 100%;
  h1, h2, h3, h4 {
    text-align: center;
  }

  h1{
    font-weight: 400;
    font-size: 72px;
    color: $mkBlack;
  }
  h4{
    font-weight: 400;
    font-size: 41px;
    color: $mkGrey;
  }
  button{
    font-weight: 500;
    font-size: 40px;
    color: white;
    text-transform: capitalize;
  }

  .container{

    .selectionRow{
      padding: 25px;
      .selection{
        height: 400px;
        padding: 10px;
        .sectionContent{
          background-color: $mkOpaqueGrey;
          border-radius: 25px;
          border: 0 solid;
          height: 100%;

          .selectionIcon{
            height:60%;
          }

        }

      }
    }

    .segueButton{
      text-transform: uppercase;
      background: $mkBlack;
      border-radius: 40px;
      border: 0 solid;
      color: white;

      height: 80px;
      width: auto;
      padding: 5px 35px 5px 15px;
    }

  }
  .currentState{
    font-weight: 500;
    font-size: 14px;
    color: white;
    text-transform: capitalize;
  }
}