@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,500);
$font:    Rubik, sans-serif;
$divRadius: 25px;

@import "colors";
@import "progress";
@import "tooltip";
@import "dropdown";

.angular-google-map-container { height: 400px; }


html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
body {
  font: 100% $font;

  h1, h2, h3, h4, h6 {
    text-align: center;
  }

  h1{
    font-weight: 400;
    font-size: 72px;
    color: $mkBlack;
  }
  h2{
    font-weight: 400;
    font-size: 41px;
    color: $mkBlack;
  }
  h4, p{
    font-weight: 400;
    font-size: 41px;
    color: $mkGrey;
  }
  h5{
    font-weight: 400;
    font-size: 24px;
    color: $mkBlack;
  }
  h6{
    font-weight: 400;
    font-size: 28px;
    color: $mkGrey;
  }
  button{
    font-weight: 500;
    font-size: 40px;
    color: white;
    text-transform: capitalize;
  }



  .container{

    #progress{
      min-height: 150px;
      background-color: $mkOrange;

      .currentState{
        font-weight: 500;
        font-size: 14px;
        color: white;
        text-transform: capitalize;
      }
    }

    #wizardView {
      max-width: 960px;

      .companyLogo{
        margin: 15px;
        max-height: 250px;
      }

      .buildImage{
        min-width: 320px;
        max-width: 500px;
      }

      .selectionRow {
        .selection {
          height: 400px;
          background-color: $mkOpaqueGrey;
          border-radius: $divRadius;
          border: 0 solid;
          .sectionContent {
            .selectionIcon {
              height: 60%;
              font-size: 132px;
            }
            .selectionText{

            }
          }
          &:hover, &:active {
            background-color: $mkGrey;
          }
        }
      }


      form{
        .inputContainer{

          input {
            height: 80px;
            border: 3px solid $mkOpaqueGrey;
            padding: 30px;
            font-size: 41px;
          }
        }
      }

      .kitImage {
        width: 100%;
      }

      .contextButton{
        height: 60px;
        width: auto;
        margin: 15px auto;
        padding: 5px;

        text-transform: uppercase;
        background: none;
        border-radius: 40px;
        border: 5px solid $mkGrey;
        color: $mkGrey;
        font-size: 24px;
      }
    }

    .segueButton{
      height: 80px;
      width: auto;
      padding: 5px 15px;
      margin: 15px auto;
      text-transform: uppercase;
      background: $mkBlack;
      border-radius: 40px;
      border: 0 solid;
      color: white;
    }

  }

}