<h1>{{h1}}</h1>
<h4>{{h4}}</h4>

<form name="naming">
    <div class="inputContainer" layout="column" layout-align="center center">
        <md-input-container class="md-block">
            <input autofocus ng-model="input" ng-change="listener()" required type="text" name="kitName">
        </md-input-container>
    </div>
</form>

<div class="contextWrapper" layout="center">
    <button class="contextButton" ng-click="generateName()"> <i class="material-icons">refresh</i> {{ contextButton }}</button>
</div>