<div class="animate" ng-class="animationRows[3][0]">
    <h1>{{payload.h1}}</h1>
</div>
<div class="animate" ng-class="animationRows[3][1]">
    <h4>{{payload.h4}}</h4>
</div>

<div class="selectionRow animate" layout="row" layout-padding layout-margin layout-xs="column" ng-class="animationRows[3][2]">
    <button class="selection morphBox" flex="33" flex-xs="100" ng-click="selectDevice(0)" ng-class="selectionButtons[0]">
        <div class="sectionContent">
            <div class="checkHolder" layout="row" layout-align="end start">
                <img class="check" ng-src="app/images/wrong.png" layout="center">
            </div>
            <div class="selectionIcon">
                <i class="material-icons">desktop_mac</i></div>
            <h5 class="selectionText">Desktop</h5>

        </div>
    </button>

    <button class="selection" flex="33" flex-xs="100" ng-click="selectDevice(1)" ng-class="selectionButtons[1]">
        <div class="sectionContent">
            <div class="checkHolder" layout="row" layout-align="end start">
                <img class="check" ng-src="app/images/check.png" layout="center">
            </div>
            <div class="selectionIcon">
                <i class="material-icons">laptop</i></div>
            <h5 class="selectionText">Laptop</h5>
        </div>
    </button>

    <button class="selection" flex="33" flex-xs="100" ng-click="selectDevice(2)" ng-class="selectionButtons[2]">
        <div class="sectionContent">
            <div class="checkHolder" layout="row" layout-align="end start">
                <img class="check" ng-src="app/images/check.png" layout="center">
            </div>
            <div class="selectionIcon">
                <i class="material-icons">smartphone</i></div>
            <h5 class="selectionText">Mobile</h5>
        </div>
    </button>
</div>

<!-- # TODO - RoBOTO here -->