<div class="animate" ng-class="animationRows[5][0]">
    <h2>{{payload.h2}}</h2>
</div>

<div class="animate" ng-class="animationRows[5][2]">
    <h4>{{payload.h4a}}</h4>
</div>

<form name="handShakeCredentials" class="animate" ng-class="animationRows[5][1]">
    <div class="inputContainer" layout="column" layout-align="center center">
        <md-input-container class="md-block">
            <input autofocus ng-model="input" ng-change="listener()" required type="text" name="kitName">
        </md-input-container>
    </div>
</form>

<div class="animate" ng-class="animationRows[5][3]">
    <h4>{{payload.h4b}}</h4>
</div>

<form name="handShakeCredentials" class="animate" ng-class="animationRows[5][4]">
    <div class="inputContainer" layout="column" layout-align="center center">
        <md-input-container class="md-block">
            <input autofocus ng-model="input" ng-change="listener()" required type="text" name="kitName">
        </md-input-container>
    </div>
</form>