<h1>{{h1}}</h1>
<h4>{{h4}}</h4>

<div class="selectionRow" layout="row" layout-padding layout-margin layout-xs="column">
    <button class="selection" flex="33" flex-xs="100" ng-click="selectLocation(0)" ng-class="selectionButtons[0]">
        <div class="sectionContent">
            <div class="checkHolder" layout="row" layout-align="end start">
                <img class="check" ng-src="app/images/check.png" layout="center">
            </div>
            <div class="selectionIcon">
                <i class="material-icons">desktop_mac</i></div>
            <h5 class="selectionText">Inside</h5>
        </div>
    </button>
    <button class="selection" flex="33" flex-xs="100" ng-click="selectLocation(1)" ng-class="selectionButtons[1]">
        <div class="sectionContent">
            <div class="checkHolder" layout="row" layout-align="end start">
                <img class="check" ng-src="app/images/check.png" layout="center">
            </div>
            <div class="selectionIcon">
                <i class="material-icons">desktop_mac</i></div>
            <h5 class="selectionText">Terrace - Outside</h5>
        </div>
    </button>
    <button class="selection" flex="33" flex-xs="100" ng-click="selectLocation(2)" ng-class="selectionButtons[2]">
        <div class="sectionContent">
            <div class="checkHolder" layout="row" layout-align="end start">
                <img class="check" ng-src="app/images/check.png" layout="center">
            </div>
            <div class="selectionIcon">
                <i class="material-icons">desktop_mac</i></div>
            <h5 class="selectionText">Wall - Outside</h5>
        </div>
    </button>
</div>