<div class="animate" ng-class="animationRows[4][0]">
    <h2>{{payload.h2a}} {{submittedData.user.username}} {{payload.h2b}}</h2>
</div>
<div class="animate" ng-class="animationRows[4][1]">
    <h4>{{payload.h4}}</h4>
</div>

<form name="password_form" class="animate" ng-class="animationRows[4][2]">
    <div class="inputDiv" layout="column" layout-align="center">
        <div  class='inputContainer' layout="row" layout-align="start center">
            <div class="ss_input">
                <svg width="38px" height="36" viewBox="33 27 24 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <text id="lock" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="30" font-weight="normal" line-spacing="38">
                        <tspan x="20" y="60" fill="#717E83">lock</tspan>
                    </text>
                </svg>
            </div>
            <div flex="grow" class="md-box">
                <md-input-container ng-model-options="{ debounce: 1000 }" class="md-block">
                    <label>{{payload.input1}}</label>
                    <input  ng-model="pass" ng-change="loginListener()" type="{{showPasswordToggle}}" name="pass" >
                    <div ng-messages="password_form.pass.$error">
                    </div>
                </md-input-container>
            </div>
            <div class="ss_input" ng-mouseenter="showPassword(true)" ng-mouseleave="showPassword(false)" ng-click="forceShowPassword()">
                <svg width="36px" height="38px" viewBox="438 32 36 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <text id="eye" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="36" font-weight="normal" line-spacing="38">
                        <tspan x="438" y="70" fill="#717E83">eye</tspan>
                    </text>
                </svg>
            </div>
        </div>
    </div>
</form>

<div class="animate" layout="center center" ng-class="animationRows[4][3]">
    <button class="contextButton" ng-click="forgotPassword()">
        <svg width="23px" height="25px" viewBox="15 13 23 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <text id="question" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="18" font-weight="normal">
                <tspan x="17.5" y="32" fill="#FFFFFF">question</tspan>
            </text>
        </svg> {{ payload.contextButton }}
    </button>
</div>


<!-- #TODO - Maybe have a loader here! when login happens-->