<div class="animate" ng-class="animationRows[2][0]">
    <h2>{{payload.h2}}</h2>
</div>

<div class="inputContainer animate" layout="row" layout-align="center none" ng-class="animationRows[2][1]">
    <md-input-container class="dropDown">
        <label>Select Your Wifi Network</label>
        <md-select class="selectMenu" ng-model="size">
            <md-option class="selection" ng-repeat="network in networks" value="{{network}}">{{network}}</md-option>
        </md-select>
    </md-input-container>
</div>