<div class="animate" ng-class="animationRows[3][0]">
    <h2>{{payload.h2}}</h2>
</div>

<div class="animate" ng-class="animationRows[3][1]">
    <h4>{{payload.h4}}</h4>
</div>

<div class="selectionRow animate" layout="row" layout-padding layout-margin layout-wrap
     ng-class="animationRows[3][2]" flex="noshrink">
    <button class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(0)"
            ng-class="selectionButtons[0]" ng-mouseenter="infoImageOn(0)" ng-mouseleave="infoImageOff(0)">
        <div class="sectionContent">
            <div class="contentIcons" layout="row" layout-align="space-between">
                <div class="infoHolder" ng-click="infoClick(0)">
                    <img preload-image class="info" ng-src="{{infoImages[0]}}" layout="center">
                </div>
                <div class="checkHolder" layout="row" layout-align="end start">
                    <img preload-image class="check" ng-src="app/images/check.png" layout="center">
                </div>
            </div>

            <div class="selectionImage">
                <img preload-image class="itemImage" ng-src="app/images/BOARDS-CUTOUT_0003_SENSOR-BOARD-BLUE.png">
            </div>
            <h5 preload-image class="selectionText">{{payload.part1}}</h5>
        </div>
    </button>

    <button class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(1)"
            ng-class="selectionButtons[1]" ng-mouseenter="infoImageOn(1)" ng-mouseleave="infoImageOff(1)">
        <div class="sectionContent">
            <div class="contentIcons" layout="row" layout-align="space-between">
                <div class="infoHolder" ng-click="infoClick(1)">
                    <img preload-image class="info" ng-src="{{infoImages[1]}}" layout="center">
                </div>
                <div class="checkHolder" layout="row" layout-align="end start">
                    <img preload-image class="check" ng-src="app/images/check.png" layout="center">
                </div>
            </div>
            <div class="selectionImage">
                <img preload-image class="itemImage" ng-src="app/images/BOARDS-CUTOUT_0002_HARDWARE-BOARD-WHITE.png">
            </div>
            <h5 class="selectionText">{{payload.part2}}</h5>
        </div>
    </button>

    <button class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(2)"
            ng-class="selectionButtons[2]" ng-mouseenter="infoImageOn(2)" ng-mouseleave="infoImageOff(2)">
        <div class="sectionContent">
            <div class="contentIcons" layout="row" layout-align="space-between">
                <div class="infoHolder" ng-click="infoClick(2)">
                    <img preload-image class="info" ng-src="{{infoImages[2]}}" layout="center">
                </div>
                <div class="checkHolder" layout="row" layout-align="end start">
                    <img preload-image class="check" ng-src="app/images/check.png" layout="center">
                </div>
            </div>
            <div class="selectionImage">
                <img preload-image class="itemImage" ng-src="app/images/BOARDS-CUTOUT_0006_BATTERY2.png">
            </div>
            <h5 class="selectionText">{{payload.part3}}</h5>
        </div>
    </button>

    <button class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(3)"
            ng-class="selectionButtons[3]" ng-mouseenter="infoImageOn(3)" ng-mouseleave="infoImageOff(3)">
        <div class="sectionContent">
            <div class="contentIcons" layout="row" layout-align="space-between">
                <div class="infoHolder" ng-click="infoClick(3)">
                    <img preload-image class="info" ng-src="{{infoImages[3]}}" layout="center">
                </div>
                <div class="checkHolder" layout="row" layout-align="end start">
                    <img preload-image class="check" ng-src="app/images/check.png" layout="center">
                </div>
            </div>
            <div class="selectionImage">
                <img preload-image class="itemImage" ng-src="app/images/BOARDS-CUTOUT_0005_USB.png">
            </div>
            <h5 class="selectionText">{{payload.part4}}</h5>
        </div>
    </button>
</div>
