<!--<canvas></canvas>-->

<div id="progress" layout="column" layout-align="center center" flex="none" ng-class="payload.progressShow">
    <md-progress-linear md-diameter="100" md-mode="determinate" bar-height="50px" value="{{ payload.progressVal}}"></md-progress-linear>
    <div id="progressLabels" layout="row" layout-align="space-between start">
        <p id="left">{{ payload.progressLeftLabel | translate}}</p>
        <p id="right">{{ payload.progressRightLabel | translate}}</p>
    </div>
</div>

<div id="wizardView" layout="column" layout-align="center none" ui-view flex ></div>

<div class="bottomNav animate" layout="row" layout-align="space-around center" flex="none" ng-class="animationRows[0][0]">
    <div  hide-xs>
        <button class="backButton" ng-click="back()" ng-class="payload.backBlock">

          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 38.1 36.8" xml:space="preserve">
          <polygon points="24.7,34.7 29.7,29.8 18.3,18.4 29.7,7.1 24.7,2.1 8.5,18.4 "/>
          </svg>
        </button>
    </div>
    <div  class="segueWrapper" layout="row" layout-align="space-between center" layout-margin flex="none">
        <button class="buttonClearfix" hide-xs>X</button>
        <button class="buttonClearfix" hide-xs>X</button>
        <button class="segueButton" ng-click="seque()" ng-class="segueControl">
            <svg id='closeSVG' width="36px" height="40px" viewBox="8 10 36 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <text id="close" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="30" font-weight="normal">
                    <tspan x="8" y="48" fill="#ffffff">close</tspan>
                </text>
            </svg>

            <span id="segueContent">{{ payload.segueButton | translate }}</span>


        </button>
        <div class="spinnerWrapper" ng-class="spinnerControl">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        <button class="yesButton errorButton" ng-click="yes()" ng-class="errorButton" hide-xs>{{ payload.yesButton | translate }}</button>
        <button class="noButton errorButton" ng-click="no()" ng-class="errorButton" hide-xs>{{ payload.noButton | translate }}</button>
    </div>
    <div hide-xs>
        <button class="forwardButton" ng-click="forward()" ng-class="payload.forwardBlock" style="visibility: hidden;">
            <svg width="36px" height="49px" viewBox="8 10 36 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <text id="directright" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="22" font-weight="normal">
                    <tspan x="8" y="48">directright</tspan>
                </text>
            </svg>
        </button>
    </div>

</div>

<div id="modal" ng-class="modalClass" layout="column" layout-align="center center" flex="grow" ng-click="modalClick()">
    <div id="modalContent" layout="column" layout-align="center center" layout-padding layout-margin>
        <div id="modalBox" ng-class="modalBox" layout-gt-sm="row" layout-align-sm="center center">
            <div>
                <h2>{{ modalContent.title | translate }}</h2>
                <p>{{ modalContent.body | translate }}</p>
            </div>
            <div ng-if="modalContent.image" id="partImage" flex="none" flex-sm-auto>
                <img preload-image ng-src="{{modalContent.image}}">
            </div>

        </div>
        <div ng-if="modalContent.button" id="modalLink">
            <button id="modalButton" ng-click="modalButtonClick()" ng-class="modalButton">{{ modalContent.button | translate }}</button>
        </div>
    </div>
</div>
