<div class="animate" ng-class="animationRows[3][0]">
    <h2>{{ payload.h2 | translate}}</h2>
</div>
<div class="animate" ng-class="animationRows[3][1]">
    <p>{{ payload.h4 | translate}}</p>
</div>

<div class="animate" ng-class="animationRows[3][2]">

    <form name="location" style="margin-bottom: 20px;">
        <div class="inputDiv locationInput" layout="column" layout-align="center">
            <div class='inputContainer' layout="row" layout-align="start center">
                <div class="ss_input">
                    <svg width="26px" height="40px" viewBox="33 27 24 38" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <text id="location" stroke="none" fill="none" font-family="SSStandard, SS Standard"
                              font-size="28" font-weight="normal" line-spacing="38">
                            <tspan x="33" y="57">location</tspan>
                        </text>
                    </svg>
                </div>
                <div flex="grow" class="md-box">
                    <md-input-container md-no-float class="md-block">
                        <input placeholder="{{ payload.input1 | translate}}" type="text" class="autoCompleteInput" g-places-autocomplete
                               ng-change="autoCompleteListener()"
                               ng-model="autocomplete">
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>

    <ui-gmap-google-map ng-if='map.center' center='map.center' zoom='map.zoom'>
        <ui-gmap-marker
                idKey='1'
                coords='map.marker.location'
                click=''
                options='{ draggable: true }'
                events='map.marker.events'
                control=''
        >
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
