<div class="animate" ng-class="animationRows[3][0]">
    <h2>{{ payload.h2 | translate}}</h2>
</div>
<div class="animate" ng-class="animationRows[3][1]">
    <p>{{ payload.h4 | translate}}</p>
</div>

<div class="selectionRow animate" layout="row" layout-margin layout-wrap class="animate" layout-align="center"
     ng-class="animationRows[3][2]">


    <button class="tag" ng-repeat="tags in locationTags" ng-click="tagToggle(tags)" ng-class="tagStates[locationTags.indexOf(tags)]">
         <svg width="23px" height="25px" viewBox="15 13 23 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <text id="tag" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="18"
                      font-weight="normal">
                    <tspan x="17.5" y="36" fill="#FFFFFF">tag</tspan>
                </text>
            </svg>
        {{ tags }}
    </button>

</div>