<div class="animate" ng-class="animationRows[3][0]">
    <h2>{{ payload.h2 | translate}}</h2>
</div>

<div class="animate" ng-class="animationRows[3][1]">
    <p class="description">{{ payload.h4 | translate}}</p>
</div>

<div class="selectionRow animate" layout="row" layout-padding layout-margin layout-wrap
     ng-class="animationRows[3][2]" flex="noshrink">
    <div class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(0)"
            ng-class="selectionButtons[0]" ng-mouseenter="infoImageOn(4)" ng-mouseleave="infoImageOff(4)">
            <span class="infoHolder">
                <md-icon ng-click="infoClick(4); $event.stopPropagation()" md-svg-src="assets/images/info.svg"></md-icon>
            </span>
            <span class="checkHolder">
              <md-icon md-svg-src="assets/images/check.svg"></md-icon>
            </span>
            <div class="sectionContent">

                <img preload-image class="itemImage" ng-src="assets/images/sck_case.png">

                <h5 class="selectionText">{{ payload.part5 | translate}}</h5>
            </div>
        </div>
    <div class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(1)"
            ng-class="selectionButtons[1]" ng-mouseenter="infoImageOn(5)" ng-mouseleave="infoImageOff(5)">
            <span class="infoHolder">
                <md-icon ng-click="infoClick(5); $event.stopPropagation()" md-svg-src="assets/images/info.svg"></md-icon>
            </span>
            <span class="checkHolder">
              <md-icon md-svg-src="assets/images/check.svg"></md-icon>
            </span>
            <div class="sectionContent">

            <img preload-image class="itemImage" ng-src="assets/images/spacers.png">

            <h5 class="selectionText">{{ payload.part6 | translate}}</h5>
        </div>
    </div>
    <div class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(2)"
            ng-class="selectionButtons[2]" ng-mouseenter="infoImageOn(6)" ng-mouseleave="infoImageOff(6)">
            <span class="infoHolder">
                <md-icon ng-click="infoClick(6); $event.stopPropagation()" md-svg-src="assets/images/info.svg"></md-icon>
            </span>
            <span class="checkHolder">
              <md-icon md-svg-src="assets/images/check.svg"></md-icon>
            </span>
            <div class="sectionContent">

            <img preload-image class="itemImage" ng-src="assets/images/screen.png">

            <h5 class="selectionText">{{ payload.part7 | translate}}</h5>
        </div>
    </div>
    <div class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(3)"
            ng-class="selectionButtons[3]" ng-mouseenter="infoImageOn(7)" ng-mouseleave="infoImageOff(7)">
            <span class="infoHolder">
                <md-icon ng-click="infoClick(7); $event.stopPropagation()" md-svg-src="assets/images/info.svg"></md-icon>
            </span>
            <span class="checkHolder">
              <md-icon md-svg-src="assets/images/check.svg"></md-icon>
            </span>
            <div class="sectionContent">

            <img preload-image class="itemImage" ng-src="assets/images/plugs.png">

            <h5 class="selectionText">{{ payload.part8 | translate}}</h5>
        </div>
    </div>
</div>
