<div class="animate" ng-class="animationRows[4][0]">
    <h2>{{ payload.h2 | translate}}</h2>
</div>

<div class="animate" ng-class="animationRows[4][1]">
    <p>{{ payload.h4a | translate}}</p>
</div>

<form name="password_create" class="animate" ng-class="animationRows[4][2]">
    <div class="inputDiv" layout="column" layout-align="center">
        <div  class='inputContainer' layout="row" layout-align="start center">
            <div class="ss_input">
                <svg width="38px" height="36" viewBox="33 27 24 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <text id="lock" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="30" font-weight="normal" line-spacing="38">
                        <tspan x="26" y="60">lock</tspan>
                    </text>
                </svg>
            </div>
            <div flex="grow" class="md-box">
                <md-input-container md-no-float class="md-block">
                    <input placeholder="{{ payload.input1 | translate}}" ng-model-options="{ debounce: 250 }"  ng-model="pass1" ng-change="passwordListener()" type="{{showPasswordToggle}}" name="pass1" minlength="8" required>
                    <div ng-messages="password_create.pass1.$error">
                        <div ng-message="required">{{ payload.input1_error2 | translate}}</div>
                        <div ng-message="minlength">{{ payload.input1_error | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <div class="ss_input" ng-mouseenter="showPassword(true)" ng-mouseleave="showPassword(false)" ng-click="forceShowPassword()">
                <svg width="36px" height="38px" viewBox="438 32 36 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <text id="eye" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="36" font-weight="normal" line-spacing="38">
                        <tspan x="438" y="70">eye</tspan>
                    </text>
                </svg>
            </div>
        </div>
    </div>

    <div class="inputDiv" layout="column" layout-align="center">
        <div  class='inputContainer' layout="row" layout-align="start center">
            <div class="ss_input">
                <svg width="38px" height="36" viewBox="33 27 24 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <text id="lock" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="30" font-weight="normal" line-spacing="38">
                        <tspan x="26" y="60">lock</tspan>
                    </text>
                </svg>
            </div>
            <div flex="grow" class="md-box">
                <md-input-container md-no-float class="md-block">
                    <input placeholder="{{ payload.input1 | translate}}" ng-model-options="{ debounce: 250 }" ng-model="pass2" ng-change="passwordListener()" type="{{showPasswordToggle}}" name="pass2" minlength="8" required>
                    <div ng-messages="password_create.pass2.$error">
                        <div ng-message="required">{{ payload.input1_error2 | translate}}</div>
                        <div ng-message="minlength">{{ payload.input1_error | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <div class="ss_input" ng-mouseenter="showPassword(true)" ng-mouseleave="showPassword(false)" ng-click="forceShowPassword()">
                <svg width="36px" height="38px" viewBox="438 32 36 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <text id="eye" stroke="none" fill="none" font-family="SSStandard, SS Standard" font-size="36" font-weight="normal" line-spacing="38">
                        <tspan x="438" y="70">eye</tspan>
                    </text>
                </svg>
            </div>
        </div>
    </div>
</form>
