<div class="animate" ng-class="animationRows[3][0]">
    <h2>{{ payload.h2 | translate}}</h2>
</div>

<div class="animate" ng-class="animationRows[3][1]">
    <p>{{ payload.h4 | translate}}</p>
</div>

<div class="selectionRow animate" layout="row" layout-padding layout-margin layout-wrap
     ng-class="animationRows[3][2]">
    <div class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(0)"
            ng-class="selectionButtons[0]" ng-mouseenter="infoImageOn(0)" ng-mouseleave="infoImageOff(0)">
        <span class="recommended"> {{ payload.recommended | translate }} </span>
        <!-- <span class="infoHolder">
            <md-icon ng-click="infoClick(0); $event.stopPropagation()" md-svg-src="assets/images/info.svg"></md-icon>
        </span> -->
        <span class="checkHolder">
          <md-icon md-svg-src="assets/images/check.svg"></md-icon>
        </span>
        <div class="sectionContent">
            <img preload-image class="selectionImage itemImage" ng-src="{{ payload.smartphoneImage }}">
            <h5 preload-image class="selectionText">{{ payload.smartphone | translate}}</h5>
        </div>
    </div>

    <div class="selection" flex flex-md="45" flex-sm="45" flex-xs="100" ng-click="selectPart(2)"
            ng-class="selectionButtons[2]" ng-mouseenter="infoImageOn(2)" ng-mouseleave="infoImageOff(2)">
        <!-- <span class="infoHolder">
            <md-icon ng-click="infoClick(2); $event.stopPropagation()" md-svg-src="assets/images/info.svg"></md-icon>
        </span> -->
        <span class="checkHolder">
          <md-icon md-svg-src="assets/images/check.svg"></md-icon>
        </span>
        <div class="sectionContent">
            <img preload-image class="selectionImage itemImage" ng-src="{{ payload.offlineImage }}">
            <h5 class="selectionText">{{ payload.offline | translate}}</h5>
        </div>
    </div>

</div>
